body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding: 10px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 48%;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input[type="text"], input[type="number"], input[type="date"], input[type="time"], input[type="submit"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"], button {
    background-color: #283ba7;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 5px 0 20px;
    border-radius: 3px;
    width: 100%;
}

input[type="submit"]:hover, button:hover {
    background-color: #283ba7;
}

#date-container {
    margin: 20px 0;
}