* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Arial, Tahoma, sans-serif, "Segoe UI Emoji";
}

body {
    min-height: 100vh;
    background: url('Pictures/koeien.jpg') no-repeat;
    background-size: fill;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: top 0.3s ease-in-out; /* Smooth transition */
}

.hidden {
    top: -100px; /* Move the header up out of view */
}

.logo {
    font-size: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Add text shadow */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 5px 10px; /* Add some padding for better readability */
    border-radius: 5px; /* Optional: Add rounded corners */
}

.logo img {
    margin-top: 10px; /* Move the logo 10px down */
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    right: 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Add text shadow */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 5px 10px; /* Add some padding for better readability */
    border-radius: 5px; /* Optional: Add rounded corners */
}

.navbar a::before {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #000000;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.form-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 48%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .form-wrapper {
        flex-direction: column;
    }

    .form-container {
        width: 100%;
    }
}

input[type="text"], input[type="number"], input[type="date"], input[type="time"], input[type="submit"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"], button {
    background-color: #283ba7;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 5px 0 20px;
    border-radius: 3px;
    width: 100%;
}

input[type="submit"]:hover, button:hover {
    background-color: #1f2d7a;
}

.content {
    margin-top: 100px; /* Adjusted margin-top */
    padding: 20px;
}