.btn-primary {
    background-color: #088c04;
    border-color: #088c04;
    transition: all 0.3s ease; 
}

.btn-primary:hover {
    background-color: #045202;
    border-color: #045202;
}


.table thead th {
    background-color: #088c04;
    color: white;
    font-weight: 600; 
}


body {
    background: url('../Pictures/koeien.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    color: #333;
}


.container,
.container-fluid {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
}

.fixed-table-container {
    max-height: 60vh; 
    overflow-y: auto;
    overflow-x: hidden; 
}